//  backgrounds

// borders


// flexbox

// spacing

.p-s {
    padding: 1rem;
}

.p-m {
    padding: 1.5rem;
}

.p-l {
    padding: 2.5rem;
}

.p-xl {
    padding: 4rem;
}

.pt-s {
    padding-top: 1rem;
}

.pt-m {
    padding-top: 1.5rem;
}

.pt-l {
    padding-top: 2.5rem;
}

.pt-xl {
    padding-top: 4rem;
}

.pr-s {
    padding-right: 1rem;
}

.pr-m {
    padding-right: 1.5rem;
}

.pr-l {
    padding-right: 2.5rem;
}

.pr-xl {
    padding-right: 4rem;
}

.pb-s {
    padding-bottom: 1rem;
}

.pb-m {
    padding-bottom: 1.5rem;
}

.pb-l {
    padding-bottom: 2.5rem;
}

.pb-xl {
    padding-bottom: 4rem;
}

.pl-s {
    padding-left: 1rem;
}

.pl-m {
    padding-left: 1.5rem;
}

.pl-l {
    padding-left: 2.5rem;
}

.pl-xl {
    padding-left: 4rem;
}

.m-s {
    margin: 1rem;
}

.m-m {
    margin: 1.5rem;
}

.m-l {
    margin: 2.5rem;
}

.m-xl {
    margin: 4rem;
}

.mt-s {
    margin-top: 1rem;
}

.mt-m {
    margin-top: 1.5rem;
}

.mt-l {
    margin-top: 2.5rem;
}

.mt-xl {
    margin-top: 4rem;
}

.mr-s {
    margin-right: 1rem;
}

.mr-m {
    margin-right: 1.5rem;
}

.mr-l {
    margin-right: 2.5rem;
}

.mr-xl {
    margin-right: 4rem;
}

.mb-s {
    margin-bottom: 1rem;
}

.mb-m {
    margin-bottom: 1.5rem;
}

.mb-l {
    margin-bottom: 2.5rem;
}

.mb-xl {
    margin-bottom: 4rem;
}

.ml-s {
    margin-left: 1rem;
}

.ml-m {
    margin-left: 1.5rem;
}

.ml-l {
    margin-left: 2.5rem;
}

.ml-xl {
    margin-left: 4rem;
}

// sizing

